.btn{
  display: inline-block;
  color: $white;
  font-size: 1.2rem;
  line-height: $lineHeight;
  box-sizing: border-box;
  padding: $space/2 $space;
  text-decoration: none;
  cursor: pointer;
  position: relative;
  top: 0px;
  left: 0px;
  outline: 0;
  border: 0;

  &:active{
    top: 1px;
    left: 1px;
  }

  &:disabled{
    opacity: 0.4;
    cursor: not-allowed;
  }

}

.btn-small{
  font-size: 1rem;
  padding: $space/4 $space/2;
}

.btn-big{
  font-size: 1.4rem;
  padding: $space $space*1.5;
}


.btn-primary{
  background-color: $orange;

  &:hover, &:focus{
    background-color: $orangeHighlight;
  }

}

.btn-success{
    background-color: $statusSuccess;
    color: $bright;

    &:hover, &:focus{
      background-color: $statusSuccessLight;
    }

}