@mixin clearfix() {
  &::after {
    display: block;
    content: "";
    clear: both;
  }
}

.container{
  position: relative;
  margin: 0px auto;
  box-sizing: border-box;
  padding: $space;
  max-width: $maxSiteWidth;
  width: 100%;
}

.container-fluid{
  position: relative;
  margin: 0px auto;
  box-sizing: border-box;
  padding: $space;
  width: 100%;
}

.pull-right{
  float: right;
}

.pull-left{
  float: left;
}

.clearfix{
  @include clearfix;
}

.clear-left{
  clear: left;
}

.clear-right{
  clear: right;
}

.clear-both{
  clear: both;
}

.no-padding-top{
  padding-top: 0;
}

.no-padding-left{
  padding-left: 0;
}

.no-padding-bottom{
  padding-bottom: 0;
}

.no-padding-right{
  padding-right: 0;
}

.row{
  margin: 0px (-$space);
}

.h1{
  font-size: 3rem;
}

.w-50{
  width: 50%;
}

.w-100{
  width: 100%;
}