.form{
  display: block;
  padding: $space / 2;
  box-sizing: border-box;
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

.form-group{
  padding: $space / 2;
  box-sizing: border-box;
  float: left;
}

.form-small{
  width: 450px;
}

.form-login{
  margin: 0px auto;
}

.form-field{
  background-color: $white;
  padding: $space;
  box-sizing: border-box;
  border: 0;
  outline: 0;
  font-size: 1rem;
  &:active, &:focus{
    background-color: $inputActive;
  }
  &:disabled{
    background-color: #d1d1d1;
    cursor: not-allowed;
    &:active, &:focus{
      background-color: #d1d1d1;
    }
  }
}
