/* COLORS */
$bright: #eaeaea;
$dark: #333333;
$gray: #8d8d8d;
$orange: orange;
$orangeHighlight: #ffd176;

$statusSuccess: #4ccc7a;
$statusSuccessLight: #9aedb6;

$inputActive: #ffffbf;


/* FONTS */
$baseFontSize: 18px;
$lineHeight: 1.8;

$fontOpenSans: 'Open Sans', sans-serif;;

/* LAYOUT */
$maxSiteWidth: 1920px;
$space: 15px;
