/* COLORS */
$bright: #eaeaea;
$dark: #333333;
$orange: orange;
$orangeHighlight: #ffd176;

$statusSuccess: #4ccc7a;
$statusSuccessLight: #9aedb6;


/* FONTS */
$baseFontSize: 18px;
$lineHeight: 1.8;

/* LAYOUT */
$maxSiteWidth: 1920px;
$space: 15px;
