@import 'vars';
@import 'common';
@import 'btn';
@import 'forms';
@import 'navbar';


body{
	background-color: $bright;
	margin: 0px;
	padding: 0px;
	font-family: $fontOpenSans;
}

.site-content{
	padding-top: 100px;
}